.Accordions {
    .container {
        border: 1px solid #777;
        border-bottom: 0;
        margin: 0;
        padding: 0;
        list-style: none;
        width: 100%;
        overflow: hidden;
    }
    .tab {
        padding: 15px;
        border-bottom: 1px solid #777;
        cursor: pointer;
        &::before {
            content: '+';
            margin: 0 8px 0 -5px;
        }
    }
    .description {
        padding: 15px;
        background: rgb(211, 250, 250, 0.75);
        border-bottom: 1px solid #777;
    }
    .item {
        &.current {
            .tab {
                background: #ace;
                &::before {
                    content: '-';
                }
            }
        }
    }
}